/**
* Empresa: Japon Korea Bogotá S.A.S.
* Autor: Maicol Aranda
*


/*--------------------------------------------------------------
#  Japon Korea fachada Section
--------------------------------------------------------------*/
@media only screen and (max-width: 1800px) {
#store {
  width: 100% ;
  height: 100%;
  background: url("../img/store.PNG") center center;
  background-repeat: no-repeat;
   background-size: cover;
}
}


#store:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}

#store .container {

  z-index: 2;
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
